db/export/
.DS_Store
log/*.log
log/*.lck
log/*.pid
tmp
db/*.sqlite3
rerun.txt
public/system
solr/*
.rvmrc
db/sphinx/*
config/*.sphinx.conf
db/geo.dat
config/heroku_env.rb
.bundle
*.dat
vendor/bundle
public/assets
/nbproject/private/
# Ignore application configuration
/config/application.yml
