@font-face {
    font-family: 'Museo300';
    src: url('/fonts/museo300-regular-webfont.eot');
    src: url('/fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museo300-regular-webfont.woff') format('woff'),
         url('/fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('/fonts/museo300-regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500';
    src: url('/fonts/museo500-regular-webfont.eot');
    src: url('/fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museo500-regular-webfont.woff') format('woff'),
         url('/fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('/fonts/museo500-regular-webfont.svg#Museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height: 100%
}

body { 
  font-family: 'Museo300';
  font-size: 16px;
  background-color: #eee;
}

a {
  text-decoration: none;
}

#navigation {
  position: fixed;
  height: 45px;
  width: 100%;
  background-color: white;
  font-size: 20px;
  z-index: 1;
  box-shadow: 0 0 2px 1px #888;
  -moz-box-shadow: 0 0 2px 1px #888;
  -webkit-box-shadow: 0 0 2px 1px #888;
}

#navigation #sections {
  text-align: center;
  padding-top: 12px;
}

#navigation #sections a {
  color: #666;
}

#navigation a#app:hover, 
#navigation a#app.active {
  color: #ff7720;
}

#navigation a#deals:hover, 
#navigation a#deals.active {
  color: #13c3ff;
}

#navigation a#contact:hover, 
#navigation a#contact.active {
  color: #67d140;
}

#navigation #sections li {
  margin: 0 15px;
}

#navigation #corner.left {
  float: left;
}

#navigation #corner.right {
  float: right;
}

#navigation #corner {
  color: #bbb;
  position: relative;
  top: -20px;
  margin: 0 10px;
}

#navigation #corner a {
  color: #bbb;
}

#navigation #corner a:hover {
  color: #666;
}

#navigation a#top .image {
  background: url("/images/toparrow.png") no-repeat 0 0;
  position: relative;
  top: -7px;
  padding-right: 5px;
  width: 28px;
  height: 35px;
  float: left;
}

#navigation a:hover#top .image {
  background: url("/images/toparrow-mouseover.png") no-repeat 0 0;
}

#navigation a#blog .image {
  background: url("/images/awayarrow.png") no-repeat 0 0;
  position: relative;
  top: -20px;
  margin-left: 10px;
  width: 29px;
  height: 27px;
  float: right;
}

#navigation a:hover#blog .image {
  background: url("/images/awayarrow-mouseover.png") no-repeat 0 0;
}

#navigation a#back .image {
  background: url("/images/backarrow.png") no-repeat 0 0;
  position: relative;
  top: -3px;
  padding-right: 5px;
  width: 29px;
  height: 27px;
  float: left;
}

#navigation a:hover#back .image {
  background: url("/images/backarrow-mouseover.png") no-repeat 0 0;
}

#navigation li {
  display: inline;
}

.section {
  text-align: center;
}

#home {
  padding-top: 90px;
  height: 755px;
}

#home img.iphone {
  margin-top: 20px;
}

#home img.download {
  position: relative;
  top: -190px;
  left: 300px;
}

#home #phone {
  margin-top: 20px;
}

#home #screenshots {
  z-index: -1;
  display: inline;
  left: -232px;
  top: -409px;
}

#app {
  height: 755px;
}

#app h1 {
  font-family: 'Museo500';
  font-size: 60px;
  color: #ff7720;
  margin-top: 80px;
}

#app h2 {
  font-size: 35px;
  color: #ff7720;
  margin-top: 20px;
}

#app h3 {
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 8px;
}

#app #steps-container {
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
}

#app #steps {
  margin-left: auto;
  margin-right: auto;
  height: 125px;
  width: 840px; 
  color: #868686;
  position: relative;
  top: -60px;
}

#app .step {
  width: 240px;
  float: left;
  padding: 0 20px;
}

#deals {
  height: 755px;
}

#deals h1 {
  font-family: 'Museo500';
  font-size: 60px;
  color: #13c3ff;
  margin-top: 80px;
}

#deals h2 {
  font-size: 20px;
  color: #13c3ff;
  margin-top: 10px;
}

#deals #grid {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#deals .deal {
  overflow: hidden;
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  border: 1px solid #868686;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#deals .deal .details {
  background-color: #13c3ff;
  padding: 10px;
  width: 130px;
  height: 130px;
  color: white;
  font-family: "Museo500";
  font-size: 18px;
}

#contact {
  height: 755px;
}

#contact img.contact {
  margin-top: 80px;
}

#contact #methods {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
}

#contact .method {
  float: left;
  padding: 20px;
  font-size: 25px;
  color: #868686;
}

#contact .method .icon {
  width: 184px;
  height: 184px;
  margin-bottom: 40px;
}

#contact .method.twitter .icon {
  background: url("/images/twitter.png") no-repeat 0 0; 
}

#contact .method.twitter .icon:hover {
  background: url("/images/twitter-mouseover.png") no-repeat 0 0; 
}

#contact .method.facebook .icon {
  background: url("/images/facebook.png") no-repeat 0 0;
}

#contact .method.facebook .icon:hover {
  background: url("/images/facebook-mouseover.png") no-repeat 0 0;
}

#contact .method.email .icon {
  background: url("/images/email.png") no-repeat 0 0;
}

#contact .method.email .icon:hover {
  background: url("/images/email-mouseover.png") no-repeat 0 0;
}

#contact img.communication {
  margin-top: 80px;
}

#footer {
  font-family: "Museo500";
  background-color: #868686;
  height: 110px;
  color: white;
}

#footer a {
  color: white;
}

#footer img {
  float: left;
  margin: 16px;
}

#footer ul#links {
  float: left;
  margin-top: 60px;
  margin-left: 20px;
}

#footer ul#links li {
  display: inline;
}

#footer #copyright {
  float: right;
  margin-top: 60px;
  margin-right: 20px;
}

/* about */

#navigation a#back {
  position: relative;
  top: 32px;
  float: left;
}

#navigation img.download-small {
  position: relative;
  top: 23px;
  right: -7px;
}

.page {
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.page img.logo {
  padding-left: 220px;
  margin-bottom: 10px;
}

#about h1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #ff7720;
}

#about h2 {
  font-size: 20px;
  color: #868686;
  padding-bottom: 5px;
}

#about span {
  line-height: 18px;
  font-size: 16px;
  color: #868686;
}

#about span.quote {
  font-family: "Museo500";
}

#about #team h1 {
  color: #13c3ff;
}

#about ul.team {
  overflow: hidden;
}

#about ul.team li {
  float: left;
  width: 300px;
}

#about ul.team li.first {
  margin-right: 20px;
}

#about .deal {
  float: left;
  width: 85px;
  height: 85px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin-top: 20px;
  margin-right: 10px;
  overflow: hidden;
  border: 1px solid #868686;
}

#about #team {
  margin-top: 30px;
}

#about #faq h1 {
  color: #67d140;
}

#about #faq {
  margin-top: 40px;
}

#about #faq h2 {
  margin-top: 20px;
}

#about #faq a {
  color: #868686;
}

/* terms and privacy */

#terms, #privacy {
  color: #868686;
}

#terms a, #privacy a{
  color: #13c3ff;
}

#terms h1, #privacy h1 {
  font-size: 20px;
  color: #ff7720;
  padding-bottom: 10px;
}

#terms p, #privacy p {
  padding-bottom: 10px;
}

#terms ul, #privacy ul {
  list-style-type: circle;
  list-style-position: outside;
  padding-bottom: 10px;
}

#terms li, #privacy li {
  margin-left: 20px;
}

/* deal */
#deal-header {
  margin: 0 auto;
  padding: 25px 0;
  overflow: hidden;
  width: 830px;
}

#deal-header a.logo {
  float: left;
}

#deal-header a.download {
  float: right;
}

#deal {
  margin: 0 auto;
  text-align: center;
  width: 830px;
  background-color: white;
  border: 1px solid #bbb;
}

#deal #top {
  overflow: hidden;
  margin: 15px 20px;
}

#deal #user {
  float: left;
}

#deal #user img.photo {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#deal .username {
  font-size: 16px;
  color: #868686;
  position: relative;
  top: -5px;
  left: 10px;
}

#deal #share {
  float: right;
  width: 385px;
}

#deal #share .button {
  width: 184px;
  height: 54px;
}

#deal #share a.twitter .button {
  background: url("/images/share-twitter.png") no-repeat 0 0;
  float: left;
}

#deal #share a:hover.twitter .button {
  background: url("/images/share-twitter-mouseover.png") no-repeat 0 0;
}

#deal #share a.facebook .button {
  background: url("/images/share-facebook.png") no-repeat 0 0;
  float: right;
}

#deal #share a:hover.facebook .button {
  background: url("/images/share-facebook-mouseover.png") no-repeat 0 0;
}

#deal #shadow {
  background: url("/images/shadow-slice.png") repeat-x 0 0;
  height: 11px;
}

#deal #main {
  padding: 10px 20px 20px 20px;
  overflow: hidden;
}

#deal #main img#image {
  float: left;
  width: 385px;
  height: 385px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#deal #info {
  overflow: hidden;
}

#deal #details {
  text-align: left;
  padding: 20px;
  font-size: 18px;
  color: #868686;
  float: right;
  height: 80px;
  width: 345px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#deal #details .price_or_percent {
  padding-top: 10px;
  font-family: "Museo500";
  color: #67d140
}

#deal #map {
  margin-top: 18px;
  float: right;
  height: 243px;
  width: 383px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden;
}

#deal #likes,
#deal #comments {
  float: left;
  overflow: hidden;
  width: 385px;
  margin-top: 20px;
  text-align: left;
}

#deal #count {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ff7720;
}

#deal img.user {
  margin-right: 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#deal #likes .like {
  float: left;
}

#deal #comments {
  margin-left: 20px;
}

#deal .comment {
  overflow: hidden;
  color: #666;
  margin-bottom: 20px;
}

#deal .comment .user {
  float: left;
}

#deal .comment .body {
  font-family: "Museo300";
  margin-left: 5px;
  float: left;
}

#deal .comment .from {
  margin-top: 5px;
  display: block;
  color: #868686;
}

#deal-footer a {
  color: #868686;
}

#deal-footer ul#links {
  color: #868686;
  margin-top: 40px;
  text-align: center;
}

#deal-footer ul#links li {
  display: inline;
  font-size: 16px;
}
