#footer.section
  %ul#links
    %li= link_to "About Qwiqq", about_url
    |
    %li= link_to "Privacy Policy", privacy_url
    |
    %li= link_to "Terms of Service", terms_url

  #container
    %a#download{ :href => download_url }
      %img{ :src => "/images/download-white.png" }

    #copyright
      &copy; 2011, Qwiqq Inc

