#header
  .container
    %img.logo{ :src => image_path("home-qwiqq-logo.png") }
    %img.bubbles{ :src => image_path("home-large-bubbles.png") }

    #phone
      %iphone
        #screenshots
          %img#screen1{ :src => image_path("home-iphone-screen-1.png") }
          %img#screen2{ :src => image_path("home-iphone-screen-2.png") }
          %img#screen3{ :src => image_path("home-iphone-screen-3.png") }
          %img#screen4{ :src => image_path("home-iphone-screen-4.png") }
          %img#screen5{ :src => image_path("home-iphone-screen-5.png") }
          %img#screen6{ :src => image_path("home-iphone-screen-6.png") }
          %img#screen6{ :src => image_path("home-iphone-screen-7.png") }
        %img#frame{ :src => image_path("home-iphone-frame.png") }


    .app-store-link
      %a{ :href => "/download" }
        %img{ :src => image_path("home-app-store.png") }
      %img.free-arrow{ :src => image_path("home-free-arrow.png") }
      %img.free{ :src => image_path("home-free.png") }