#header-small
  .container
    %h1 "TEST"
    %a{ :href => root_url }
      %img.logo-small.scale-with-grid{ :src => image_path("header-logo-tagline.png") }
  
    .app-store-link-small
      %img.free-small{ :src => image_path("/assets/free-small.png") }
      %img.free-arrow-small{ :src => image_path("/assets/free-arrow-small.png") }
      %a{ :href => "/download" }
        %img{ :src => image_path("app-store-small.png") }