- unless mobile?
  #navigation
    #corner.left
      %ul
        %li
          %a#back{ :href => root_url }
            .image
            Back

    #corner.right
      %a{ :href => download_url }
        %img.download-small{ :src => "/images/download-green-small.png" }

