- content_for :title do 
  Qwiqq | About
 
#header-small
  .container
    %a{ :href => root_url }
      %img.logo-small{ :src => image_path("header-logo.png") }
    .app-store-link-small
      %img.free-small{ :src => image_path("free-small.png") }
      %img.free-arrow-small{ :src => image_path("free-arrow-small.png") }
      %a{ :href => "/download" }
        %img{ :src => image_path("app-store-small.png") }

#about.page
  .container-narrow
    %h1 About Us
    %span
      Qwiqq is a mobile platform that lets you instantly share local deals with your friends and find personalized deals that matter to you from your iPhone. We empower the community to search and find great local deals that others are posting. By allowing the community to “look over the shoulder” of friends sharing deals, the Qwiqq platform creates engagement, discovery and enjoyment within a community of savvy shoppers.

    #team.area
      %h1 The Lead Sled Dogs. Woof! 
      %ul.team
        %li.first
          %h2 John Phan, Co-founder    
          .bio
            A native of Canada, John has a deep passion for creating social products that enable people to share and discover information. He has helped launch two broadcast media startups and co-founded one of the first online peer-to-peer lending companies in Canada. In his free time, he and his wife enjoy hanging out with their daughter and two well-fed English bulldogs.
          - @johns_deals.each do |deal|
            %a.deal{ :href => deal_url(deal) }
              %img{ :src => deal.photo.url(:iphone_profile) }

        %li
          %h2 Jack Wrigley, Co-founder
          .bio
            Inspired by a business his wife created in 2007, Jack has been thinking of ways to empower people to share what they love to buy. In his spare time, he’s invented some products, won a few sales awards along the way and currently loves hanging out with his wife, two daughters, son, beloved dog Bella and Ben Purr the family cat. 
          - @jacks_deals.each do |deal|
            %a.deal{ :href => deal_url(deal) }
              %img{ :src => deal.photo.url(:iphone_profile) }

    #faq.area
      %h1 Questions People Ask

      %h2 Give me the high level!
      %span Qwiqq is a fast, fun, and simple way to share the things you love to buy! Just snap a photo, write a quick note and enter the price. We do the rest. Qwiqq makes sharing the things you love to buy as easy as, well, dunking an Oreo cookie in milk.

      %h2 What’s up with the name?
      %span We wanted a name that captured the quick and fun nature of sharing the things you love to buy. Oh, and we wanted it to be quirky and memorable. Voila, Qwiqq was born!

      %h2 Ok, how much is it?
      %span Qwiqq is FREE and available in the iTunes App Store.

      %h2 Who can use Qwiqq?
      %span Anyone can use Qwiqq.

      %h2 So, I’m a local merchant. Can I use Qwiqq?
      %span Absolutely! Qwiqq is a simple and fast way for local merchants to share their goods and services with local customers! And best of all, it’s free! With Qwiqq, there is no coupon redemption, no outrageous revenue sharing, and no monthly plan. Qwiqq is fast, social, and easy to use.

      %h2 Cool, but I already use Facebook, Twitter, and Foursquare.
      %span Excellent! Every post on Qwiqq can be shared to your Facebook, Twitter, and Foursquare accounts. You can even share via email and SMS! Pretty cool, huh? We also plan on supporting additional services so keep your ears open for announcements.

      %h2 Where’s the Droid love?
      %span We love Android users and plan to release an Android app in the near future. But first, we are working on making the iPhone experience as solid as possible. Please check back for Android announcements.

      %h2 I don’t own an iPhone 4s. Will Qwiqq still work?
      %span You’re good to go, as long as you have an iPhone, iPad or iPod Touch running iOS 4.2 and above.

      %h2 Terrific! What about an iPad version?
      %span Use our iPhone app for now. We plan to release an iPad app soon.

      %h2 So, from a money perspective, who believes in Qwiqq?
      %span Qwiqq is funded by an experienced group of investors and entrepreneurs who have a proven track record of doing really cool things.

      %h2 This is so cool. I’d like to work with you!
      %span Awesome! If you’re smart, motivated and think Qwiqq will be better with you on board send us your resume at #{mail_to("hello@qwiqq.me")}.

      %h2 And finally, I’ve got suggestions or need some more help.
      %span No problem. We love to hear from you. The best way to get in touch with us is to email us at #{mail_to("hello@qwiqq.me")}. We will respond. We promise.

= render "shared/footer_home"

