- content_for :title do 
  Qwiqq | About
 
#about.page
  .container-narrow
    %h1 What the heck is Qwiqq?
    %span
      A small group of Texans focused on helping small business sell more socially! Likes are cool. But selling stuff rocks!

    #team.area
      %h1 The Lead Sled Dogs. Woof! 
      %ul.team
        %li.first
          %h2 John Phan, Co-founder    
          .bio A native of Canada, John has a passion for creating social products that help people buy and sell stuff. He’s helped launch two broadcast media startups and co-founded an online lending marketplace. He and his wife enjoy taking road trips with their daughter and English bulldog, Lily.
          - @johns_deals.each do |deal|
            %a.deal{ :href => deal_url(deal) }
              %img{ :src => deal.photo.url(:iphone_profile) }

        %li
          %h2 Jack Wrigley, Co-founder
          .bio Inspired by a business his wife created in 2007, Jack’s passion is social commerce and making it easy for local businesses to sell socially. He’s invented some products, won a few sales awards along the way and loves hanging out with his wife, kids, dogs and Ben Purr, the family cat.
          - @jacks_deals.each do |deal|
            %a.deal{ :href => deal_url(deal) }
              %img{ :src => deal.photo.url(:iphone_profile) }

    #faq.area
      %h1 Questions People Ask

      %h2 Give me the high level!
      %span We’ve added a BUY button so merchants can sell stuff socially! One QWIQQ post turns powerful social networks into powerful selling networks!
      
      %h2 How does it work?
      %span Create a QWIQQ post. Enable PayPal and bam! Your post is now for sale, with a BUY button, on QWIQQ and any network you share to including Facebook, Twitter, Foursquare, SMS, Email and Constant Contact!
      
      %h2 So, I’m a consumer. Can I use QWIQQ?
      %span Absolutely! QWIQQ is a simple and fast way for you to share your favorite local finds, support local business and buy stuff directly from the app!

      %h2 What’s up with the name?
      %span We wanted a name that captured the quick and fun nature of selling more…socially! Oh, and we wanted it to be quirky and memorable. Voila, QWIQQ was born!
      
      %h2 Ok, how much is it?
      %span QWIQQ is FREE and available in the iTunes App Store.

      %h2 But, how much does it cost when I sell something?
      %span Just 3.5%. Nothing more. There is no coupon redemption, no listing fees, no outrageous revenue sharing, and no monthly plan. We get paid when you get paid!

      %h2 Any Seller best practices?
      %span Yes! After you create an account create a full profile. It’s easy to do and important! This is your QWIQQ mobile website. Let your customers know how to reach you so you can engage with them and sell more!

      %h2 So, I’m a local merchant. Can I use Qwiqq?
      %span Absolutely! Qwiqq is a simple and fast way for local merchants to share their goods and services with local customers! And best of all, it’s free! With Qwiqq, there is no coupon redemption, no outrageous revenue sharing, and no monthly plan. Qwiqq is fast, social, and easy to use.

      %h2 How about buyer best practices?
      %span Absolutely!  If a seller isn’t local to you, contact them. Ask them questions before you buy. For example, do they ship?  If so, how much? Review the seller’s profile. Check out their QWIQQ posts. See what people are saying.

      %h2 Cool, but I already use Facebook, Twitter, and Foursquare.
      %span Excellent!  Instantly share your QWIQQ post to Facebook, Twitter, and Foursquare. Turn powerful social networks into powerful selling networks. Don’t stop there!  Share your QWIQQ post via email and SMS, too! Pretty cool, huh?
      
      %h2 Where’s the Droid love?
      %span We love Android users and plan to release an Android app in the near future. But first, we are working on making the iPhone experience as solid as possible. Please check back for Android announcements.
      
      %h2 No iPhone 5! Will QWIQQ still work?
      %span QWIQQ is optimized for iPhone 5 and iPhone 4s running iOS 6.1. Have an iPhone 4? You’re still good to go but iOS 6.1 is recommended.

      %h2 Terrific! What about an iPad version?
      %span Use our iPhone app for now. We plan to release an iPad app soon.

      %h2 Who believes in Qwiqq?
      %span QWIQQ is funded by an experienced group of investors and entrepreneurs who have a proven track record of doing really cool things.
      
      %h2 This is so cool. I’d like to work with you!
      %span Awesome! If you’re smart, motivated and think QWIQQ will be better with you on board send us the scoop on you at #{mail_to("hello@qwiqq.me")}.

      %h2 And finally, I’ve got suggestions or need some more help.
      %span No problem. We would love to hear from you. The best way to get in touch with us is to email us at #{mail_to("hello@qwiqq.me")}. We will respond. We promise.
