#navigation
  #sections
    %ul
      %li 
        %a#app{ :href => "#app" } iPhone App
      %li
        %a#deals{ :href => "#deals" } Deals
      %li
        %a#contact{ :href => "#contact" } Contact

  #corner.left
    %ul
      %li
        %a#top{ :href => "#top" }
          .image
          Top

  #corner.right
    %ul
      %li
        %a{ :href => about_url } About
      |
      %li
        %a#blog{ :href => "http://blog.qwiqq.me" }
          Blog
          .image

#home.section
  %img.logo{ :src => "/images/logo-tagline.png" }
  #phone
    %img#frame{ :src => "images/iphone.png" }
    #screenshots
      %img#screen1{ :src => "images/screen1.png" }
      %img#screen2{ :src => "images/screen2.png" }
      %img#screen3{ :src => "images/screen3.png" }
    
  %a{ :href => "http://download.qwiqq.me" }
    %img.download{ :src => "/images/download-green.png" }

#app.section
  %h1 The Revolution Starts Here
  %h2 The Deal sharing community where you ...
  #steps-container
    #steps
      #step1.step  
        %img{ :src => "/images/1.png" }
        %h3 See a deal
        Blowout sale, favorite happy hour, designer sample sale, daily lunch special? Deals are all around you.

      #step2.step
        %img{ :src => "/images/2.png" }
        %h3 Post a deal
        Take a photo or scan a product. Write a quick note and we do the rest. Remember sharing is caring.
      
      #step3.step
        %img{ :src => "/images/3.png" }
        %h3 Discover deals
        Browse, see what's popular, search or check out what your friends are sharing. Local deals that matter to you.
      
  %a{ :href => download_url }
    %img.download{ :src => "/images/download-orange.png" }

#deals.section
  #popular
    %h1 Popular deals 
  %h2 Sign up with Qwiqq to start sharing and discovering local deals that matter to you!
  #grid
    - @deals.each do |deal|
      .deal
        %a{ :href => deal_url(deal) }
          .image
            %img{ :src => deal.photo.url(:iphone_grid_2x) }
          .details
            = emojify deal.name.truncate(100)

#contact.section
  %img.contact{ :src => "/images/contact.png" }
  #methods
    .method.twitter
      %a{ :href => "http://twitter.com/home?status=#{CGI::escape("I'm using @Qwiqq to find great deals! http://qwiqq.me")}" }
        .icon
      Twitter
    .method.facebook
      %a{ :href => "http://www.facebook.com/sharer/sharer.php?u=http://qwiqq.me" }
        .icon
      Facebook
    .method.email
      %a{ :href => "mailto:?subject=Checkout Qwiqq!&body=http://qwiqq.me" }
        .icon
      Email
  %br
  %img.communication{ :src => "/images/communication.png" }

= render "shared/footer"
