#businesses
  #content
    .container
      #steps
        #one.step
          %img.icon{ :src => image_path("1-love.png") }
          .body
            From a cute pair of shoes to the perfect salon to the tastiest Thai on the Upper West Side. The things you love are all around you!
            
        #two.step
          %img.icon{ :src => image_path("2-share.png") }
          .body
            Just snap a photo, write a quick note and enter the price. We do the rest. Sharing is caring so get out there and spread the love!
        #three.step
          %img.icon{ :src => image_path("3-discover.png") }
          .body
            Wow! People are really interesting. From foodies to fashionistas, discover what your friends and local merchants around you are sharing!

      #posts
        %fieldset
          %legend
            %span.title Featured Posts

        #grid
          - if @deals.empty?
            %p 
              Want to see your posts here?
              %br
              = link_to 'Download Qwiqq', 'http://get.qwiqq.me'
              and start Posting...
              %br
          - else
            = render partial: 'grid_deal', collection: @deals