- content_for :title do 
  Qwiqq | Welcome!

#header
  .container
    %img.logo{ :src => image_path("home-qwiqq-logo.png") }
    %img.bubbles{ :src => image_path("home-large-bubbles.png") }

    #phone
      %img#frame{ :src => image_path("home-iphone-frame.png") }
      #screenshots
        %img#screen1{ :src => image_path("home-iphone-screen-1.png") }
        %img#screen2{ :src => image_path("home-iphone-screen-2.png") }
        %img#screen3{ :src => image_path("home-iphone-screen-3.png") }
        %img#screen3{ :src => image_path("home-iphone-screen-4.png") }

    .app-store-link
      %a{ :href => "/download" }
        %img{ :src => image_path("home-app-store.png") }
      %img.free-arrow{ :src => image_path("home-free-arrow.png") }
      %img.free{ :src => image_path("home-free.png") }

#content
  .container
    #steps
      #one.step
        %img.icon{ :src => image_path("1-love.png") }
        .body
          From a cute pair of shoes to the perfect salon to the tastiest Thai on the Upper West Side. The things you love are all around you!
          
      #two.step
        %img.icon{ :src => image_path("2-share.png") }
        .body
          Just snap a photo, write a quick note and enter the price. We do the rest. Remember, sharing is caring!

      #three.step
        %img.icon{ :src => image_path("3-discover.png") }
        .body
          Wow! People are really interesting. From foodies to fashionistas, discover what your friends and the community around you are sharing!

    #posts
      %fieldset
        %legend
          %span.title Recent Posts

      = render "grid"

= render "shared/footer_home"

