#businesses
  #content
    .container
      #steps
        #one.step
          %img.icon{ :src => image_path("1-love.png") }
          .body
            Just snap a photo, write a quick note and enter the price.  We do the rest.  Posting what you want to sell is Qwiqq and easy.  #Brilliant            
        #two.step
          %img.icon{ :src => image_path("2-share.png") }
          .body
            Your customers are on Facebook, Twitter, Foursquare, SMS, and Email!  Instantly share what you want to sell! #SoLoMoCo
        #three.step
          %img.icon{ :src => image_path("3-discover.png") }
          .body
            We integrated PayPal so you can sell anything, anywhere.  In seconds, turn powerful social networking into powerful selling networks.  #Awesome

      #posts
        %fieldset
          %legend
            %span.title Featured Local Merchants

        #grid
          - if @deals.empty?
            %p 
              Want to see your posts here?
              %br
              = link_to 'Download Qwiqq', 'http://get.qwiqq.me'
              and start Posting!
              %br
          - else
            = render partial: 'grid_deal', collection: @deals