#businesses
  #content
    .container
      #steps
        #one.step
          %img.icon{ :src => image_path("post-it.png") }
          .body
            Just snap a photo, write a quick note and enter the price.  We do the rest.  Posting what you want to sell is Qwiqq and easy.  #Brilliant            
        #two.step
          %img.icon{ :src => image_path("2-share.png") }
          .body
            Your customers are on Facebook, Twitter, Foursquare, SMS, and Email!  Instantly share what you want to sell! #SoLoMoCo
        #three.step
          %img.icon{ :src => image_path("sell-it.png") }
          .body
            PayPal is integrated. Sell anything, anywhere. In seconds, turn powerful social networks into powerful selling networks. #Awesome

      #posts
        %fieldset
          %legend
            %span.title Featured Posts
        #grid
          = render partial: 'grid_deal', collection: @deals
      #quotes{:style => "width:58em;"}
        %br
        %br
        %p{:style => 'text-align:center;font-weight:bold;font-size:18px!important;'}
          The fastest, easiest way for you to sell anytime & anywhere, on social platforms that matter!
        %br
        %br
        %p{:style=>"font-weight:bold;"}
          Benefits include:
        %br
        %ul#benefits
          %li
            %p
              One post. Shared everywhere. With a PayPal Buy button. Brilliant!
            %br
          %li
            %p
              FREE unlimited posts and sharing! 3.5% transaction fee only when something sells!
            %br
          %li
            %p
              Qwiqq is your mobile optimized website! Qwiqq includes all the information customers need in order to buy from you!
            %br
          %li
            %p
              International business?  Qwiqq works anywhere in the world!
            %br
          %li
            %p
              Constant Contact integration! Now it's easier than ever to create an email campaign around what you want to sell.
          %br
          %li
            %p
              Learn more here:
              %a{:href=>'http://www.youtube.com/user/QwiqqHQ'}
                QwiqqHQ on YouTube
            %br
        %br
        %p{:style=>"font-weight:bold;"}
          What small businesses are saying:
        %br
        %ul#quotes
          %li
            %p
              "This answers all my social media prayers. WOW!" Sweet Gourmet
            %br
          %li
            %p
              "The easiest way for restaraunts to share specific deals! Super easy, quick, and efficient!" Texas Restaraunt Association
            %br
          %li
            %p
              "Move over, Facebook. Qwiqq is a very effective business tool. Well done!" Downey's Desserts
            %br
        %br
        %br
          