%div{:style => "text-align:left; font-size:12pt; color:gray; padding: 5px 30px 10px 30px; font-weight: normal"}
  %p{:style => "font-weight: bold; font-size: 15pt"} Hey all Qwiqq users!!!
  %p People like you are using QWIQQ every day to share the things they love to buy.
  %p So we decided to reward you guys by letting you have a free 60 day trial of Constant Contact (insert link)