%div{:style => "text-align:left; font-size:12pt; color:gray; padding: 5px 30px 10px 30px; font-weight: normal"}
  %p{:style => "font-weight: bold; font-size: 15pt"} Are you a merchant using QWIQQ?  Awesome!
  %div
    If you use Constant Contact, in QWIQQ settings, simply link your account and start sharing posts via your Constant Contact email account. 
    %p Not a Constant Contact user?  Let us reward you!  Click
    = link_to("HERE", "http://www.constantcontact.com/index.jsp?pn=qwiqq", :style => "color:#FF7720; text-decoration: underline") 
    for your FREE 60 day trial of Constant Contact.
    %p Any questions?  Please contact us at hello@QWIQQ.me
    %p Thanks!
    %p The QWIQQ Team
  