%div{:style => "text-align:left; font-size:12pt; color:gray; padding: 5px 30px 10px 30px; font-weight: normal"}
  %p Thank you for using QWIQQ with Constant Contact email integration!  If you have any questions or require any assistance please contact us at hello@QWIQQ.me!
  %p Thanks and happy sharing!
  %p The QWIQQ Team