%div{:style => "text-align:left; font-size:12pt; color:gray; padding: 5px 30px 10px 30px; font-weight: normal"}
  %p{:style => "font-weight: bold; font-size: 15pt"} Are You A Merchant Using QWIQQ?  Awesome!
  %p Merchants use QWIQQ every day to create engaging content!
  %p Good news!  Sharing your content via email has never been easier than with Constant Contact integrated email.
  %p Not a Constant Contact user?  Let us reward you!  Click 
  = link_to("here", "http://www.constantcontact.com/index.jsp", :style => "color:#FF7720; text-decoration: underline") 
  for your FREE 60 day trial of Constant Contact.
  %p Already using Constant Contact?  In SETTINGS, simply ink your account to QWIQQ and start sharing via your Constant Contact email account.
  %p Thanks!
  %p The QWIQQ Team
  
