%div{:style => "text-align:center; font-size:15pt; color:gray; font-weight: bold; padding-bottom: 10px"}
  Hey, we noticed that you haven't made any posts yet...
  %p
  Creating a post in Qwiqq is super fun, just go to 
  %a{:href => "www.qwiqq.me"} Qwiqq
  and follow the instructions on the website!!!
  %p

 