%div{:style => "text-align:center; font-size:15pt; color:gray; font-weight: bold; padding-bottom: 10px"}
  We've noticed you haven't made any posts yet.  Creating a QWIQQ post is super easy and a super fun way to share what you love to buy.  
  %p
  From tasty Thai to a cute pair of jeans, just snap a photo, write a quick note and enter a price.  We do the rest!
  %p
  So, get out there and start Sharing What You Love To Buy!
  %p
  The QWIQQ Team
  %p