%style{ :type => "text/css" }
  body { font-size: 14px };

=image_tag attachments['logo.png'].url
Yay! 
<p/>
#{@user.name} liked your #{link_to(@deal.name, deal_url(@deal), :style => "color: #ff7720;")} deal.
<p/>
%hr
Qwiqq Notifications #{link_to("Unsubscribe", "#")}
