%div{:style => "background-color: white; padding: 10px; border-radius: 10px; margin: 20px; font-size: 13pt; margin-left: 50px; min-height: 75px; line-height: 25px"}
  = image_tag @user.photo(:iphone_profile), :width => 75, :height => 75, :align => "left", :style => "margin-right: 10px; border-radius:10px"
  %strong{:style => "font-size:14pt; color:black; font-weight: bold"}= @user.username
  %br
  Commented on your 
  = link_to(strip_emoji(@deal.name), deal_url(@deal), :style => "text-decoration: underline")} 
  post.

