= image_tag @user.photo(:iphone_profile), :width => 150, :height => 150, :align => "left", :style => "margin-right: 10px; border-radius:10px"
%div{:style => "color:gray"}
  Your Facebook friend #{@share} just joined Qwiqq as @#{@user.username}.


