%style{ :type => "text/css" }
  body { font-size: 14px };

Hi! 
<p/>
#{@user.name} has invited you to Qwiqq!
<p/>
Click #{link_to("here", root_url, :style => "color: #ff7720;")} to learn more about Qwiqq.