%style{ :type => "text/css" }
  body { font-size: 14px };

Qwiqq let's you instantly share deals with your friends and discover deals that matter to you from your iPhone.
<p/>
#{link_to("Get the app free", "#")} or #{link_to("Learn more", root_url)}.
<p/>
#{@user.name} thought you should check Qwiqq out!
</p>

