= image_tag @user.photo(:iphone_profile), :width => 75, :height => 75, :align => "left", :style => "margin-right: 10px; border-radius:10px"
= link_to("@#{@user.username}", user_url(@user), :style => "text-decoration:none; font-size:13pt; color:gray; font-weight: bold")
%div{:style => "color:gray; font-size:13pt;"}
  is now following you.

