%style{ :type => "text/css" }
  body { font-size: 14px };

Yay! You and #{@user.name} are now friends
<p/>
Qwiqq Facts: A friendship is created when you and another Qwiqq user follow each other.
<p/>
%hr
Qwiqq Notifications #{link_to("Unsubscribe", update_user_notifications_url(@target))}
