%table{:style => "width: 580px; border-collapse: collapse; margin-left: 50px; margin-top: 20px"}
  %tr
    %td{:style => "text-align: left; color:#00c2fe; font-family: Arial; font-size: 14pt"}
      Hey, we heard you lost your Qwiqq password. Oh no!
      <p/>
      Changing your password for Qwiqq is super easy, just 
      #{link_to("click here", iphone_redirect_url(:to => "qwiqq:///password_reset/#{@user.reset_password_token}"), :style => "color: #ff7720;")} and follow the instructions in the iPhone app.
      <p/>
