%div{:style => "text-align:center; font-size:15pt; color:gray; font-weight: bold; padding-bottom: 10px"}
  Hey, we heard you lost your Qwiqq password. 
  %br
  Oh no!
  %p
  Changing your password for Qwiqq is super easy, just 
  = link_to("click here", iphone_redirect_url(:to => "qwiqq://password_reset/#{@user.reset_password_token}"), :style => "color:#FF7720")
  and follow the instructions in the iPhone app.
  %p

