%style{ :type => "text/css" }
  body { font-size: 14px };

Hey, we heard you lost your Qwiqq password. Oh no!
<p/>
Changing your password for Qwiqq is super easy, just 
#{link_to("click here", "qwiqq:///password_reset/#{@user.reset_password_token}", :style => "color: #ff7720;")} and follow the instructions in the iPhone app.
<p/>
%hr
Qwiqq Notifications #{link_to("Unsubscribe", "#")}
