%div{:style => "text-align:center; font-size:15pt; color:gray; font-weight: bold; padding-bottom: 10px"}
  Hey, we noticed that you haven't shared anything yet!
  %p
  Insert how to share using fb, t, em, txt, and cc
  %p

