%div{:style => "text-align:center; font-size:15pt; color:gray; font-weight: bold; padding-bottom: 10px"}
  Hey, we noticed that you haven't shared anything yet!
  %p
  Sharing is Qwiqq is really easy, just go to the
  %a{:href => "http://help.qwiqq.me/customer/portal/articles/463935-how-do-i-share-a-post-to-facebook-twitter-and-foursquare"} Qwiqq Help Center
  and follow the instructions on the website!!!
  %p

