%div{:style => "text-align:left; font-size:12pt; color:gray; padding: 5px 30px 10px 30px; font-weight: normal"}
  %p{:style => "font-weight: bold; font-size: 15pt"} Hey!
  %p We've missed you.
  %p We've noticed you haven't shared anything in awhile and it feels sort of like an Oreo cookie that doesn't have the tasty frosting inside!
  %p I bet we aren't the only one's missing you!  So, get out there.  And share something you love to buy!
  %p The QWIQQ Team
​