%div{:style => "text-align:center; font-size:15pt; color:gray; font-weight: bold; padding-bottom: 10px"}
  Hey!
  %p
  We've missed you.  
  %p
  We've noticed you haven't shared anything in awhile and it feels sort of like an Oreo cookie that doesn't have the tasty frosting inside!
  %p
  I bet we aren't the only one's missing you!  So, get out there.  And share something you love to buy!
  %p
  The QWIQQ Team
  %p
