%style{ :type => "text/css" }
  body { font-size: 14px };

#{Qwiqq.random_sharing_prefix}
<p/>
#{@user.name} shared a deal with you on Qwiqq!
<p/>
#{link_to(@deal.name, deal_url(@deal), :style => "color: #ff7720;")}
<p/>

