%div{:style => "text-align:left; font-size:12pt; color:gray; padding: 5px 30px 10px 30px; font-weight: normal"}
  %p{:style => "font-weight: bold; font-size: 15pt"} Weekly Update!!
  %p People like you are using QWIQQ every day to share the things they love to buy.

%div{:style => "min-height:100%; width:100%"}
  %div{:style => "width:$cols12; margin: 0 auto"}
    %div{:style => "margin-top:80px; margin-bottom:10px; text-align:center; overflow:hidden"}
      %div{:style => "font-size:1.8em; color:#8c8c8c; border-top: 1px solid #8c8c8c; margin-bottom:20px; font-weight:300"}
        %legend
          %%div{:style => "display:block; padding: 0 20px"}Featured Posts

      %div{:style => "font-size:1.2em; font-weight:300; color:#666; margin: 100px auto 300px"}
        - if @deal.empty?
          %p 
            Want to see your posts here?
            %br
            = link_to 'Download Qwiqq', 'http://get.qwiqq.me'
            and start Posting!
            %br
        - else
          = render partial: 'deals/grid_deal', collection: @deal
