%div{:style => "text-align:center; font-size:15pt; color:gray; font-weight: bold; padding-bottom: 10px"}
  Thanks for joining the conversation!  People like you are using QWIQQ every day to share the things they love to buy.  
  %p
  We are still a new online community...growing each day.  We want to hear more about the things and places you love in your real-life neighborhoods.  Encourage your local merchants to share their specials, too. The possibilities are endless!
  %p
  You may be the only person in your immediate area using QWIQQ and that's o.k.  You're just an early adopter and early adopters rock!
  %p
  So, have fun and thank you again for being part of the QWIQQ community!
  %p
  The QWIQQ Team
  %p