/* QWIQQ - Mobile */

@media (max-width: 400px) {
  .container { 
    width: 280px;
    margin: 0 auto;
  }

  .container-narrow {
    width: 100%;
  }

  img.logo {
    float: none;
    margin-left: 10px;
  }

  img.bubbles {
    display: none;
  }

  .app-store-link {
    top: 0;
    margin-left: 8px;
  }

  .app-store-link img.free-arrow {
    top: 0;
    left: 60px;
  }

  .app-store-link img.free {
    top: 10px;
    left: 70px;
  }

  #steps {
    margin-left: 20px;
    margin-top: 690px;
  }

  #steps .step {
    margin-top: 20px;
  }

  #posts {
    margin-left: 8px;
  }

  #footer .box.logo {
    display: none;
  }
  
  #footer .box.contact {
    display: none;
  }

  #footer .boxes.steps {
    display: none;
  } 

  #header-small .logo-small {
    position: relative;
    left: -10px;
  }

  .app-store-link-small {
    display: none;
  }

  .page {
    margin-top: 20px;
    padding: 10px;
  }

  #about .deal {
    display: none;
  }

  #fixed-container,
  #post #fixed-container{
    position: relative;
    width: 100%;
  }

  #slider, 
  #user #slider {
    padding: 600px 0 0 0;
  }

  #slider .arrow-left {
    display: none;
  }

  .post {
    margin-bottom: 20px;
  }

  .post .details {
    padding: 10px;
    width: 240px;
    height: 100%;
  }

  .post .details .name {
    float: none;
    font-size: 18px;
    height: 100%;
  }

  .post .details .price {
    float: none;
  }

  .post img.post-photo {
    width: 240px;
    height: 240px;
  }

  .post .metadata {
    padding: 10px;
  }

  .post .metadata .stats {
    display: none;
  }

  #location,
  #buzz {
    display: none;
  }

  #post #info {
    width: 100%;
  }

  #post #info .stat {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  #post #slider {
    padding: 172px 0 0 0;
  }

  #info {
    float: none;
  }

  #share {
    float: none;
    width: 100%;
    overflow: hidden;
  }

  #share a {
    float: left;
    margin-right: 17px;
  }
}

