/* QWIQQ */

@import "frameless";


img.scale-with-grid{
  max-width: 100%;
  height: auto;
}


body {
  background-image: url("background-pattern.png");
  font-family: "Helvetica Neue", Helvetica, Arial;
  color: #666666;
}

body.deals.show, body.users.show {
  background-attachment: fixed;
}

html, body {
  height: 100%;
}

#header {
  background-image: url("home-top-background.png");
  background-repeat:repeat-x;
  z-index: -10;
  height: 290px;
}

.post .metadata .stat .icon {
  position: relative;
  top: 2px;
}


#content {
//  min-height: 100%;
    width: 100%;
}


#footer {
  background-image: url("background-pattern-footer.png");
  background-repeat:repeat;
  min-height: 385px;
}

.container {
  
  /*width: 58em;*//*$cols12;*/
  width: 53em;
  margin: 0 auto;
}

#posts {
  width:57.5em;
  margin-left:-2.25em;
}

.container-narrow {
  width: $cols8;
  margin: 0 auto;
}

@media screen and (min-device-width : 768px){
  .quantity {
   font-size: 19px; 
   color: #F47527;
   margin-left: 10px;
   margin-bottom: 2px;
   position:absolute;
  }
}
@media screen and (min-device-width : 320px) and (max-device-width : 767px) {
#businesses {
  width: 100%;
}
#businessimage {
  margin-left: 2%;
  width: 95%;

}

.quantity {
 font-size: 19px; 
 color: #F47527;
 margin-left: 10px;
 margin-bottom: 2px;
 position:relative;
}

}


@media screen and (max-device-width: 1024px) and (orientation: landscape) {
#businesses {
  width: 100%;
}
#businessimage {
  margin-left: 2%;
  width: 95%;

}
#header {
  width: 100%;
}
.quantity {
 font-size: 19px; 
 color: #F47527;
 margin-left: 10px;
 margin-bottom: 2px;
 position:absolute;
}
}

@media screen and (device-width: 768px) and (orientation: portrait) {
#businesses {
  width: 100%;
}
#businessimage {
  margin-left: 2%;
  width: 95%;

}
#header {
  width: 100%;
}
.quantity {
 font-size: 19px; 
 color: #F47527;
 margin-left: 10px;
 margin-bottom: 2px;
 position:absolute;
}
}





img.logo {
  padding-top: 40px;
  float: left;
}

img.bubbles {
  position: relative;
  float: right;
  top: 44px;
  left: 10px;
}

.app-store-link {
  position: relative;
  top: -220px;
}

.app-store-link a {
  text-decoration: none;
}

.app-store-link img.free-arrow {
  position: relative;
  top: 40px;
  left: -150px;
}

.app-store-link img.free {
  position: relative;
  top: 50px;
  left: -150px;
}

#phone {
  position: relative;
  width: 252px;
  margin: 0 auto;
  top: 35px;
  left: -10px;
}

#iphone {
  position: relative;
  z-index:2;
}


#screenshots {
  position: absolute;
  top: 77px;
  left: 21px;
  z-index:0;

}

#steps {
  font-family: "Helvetica Neue Light", Helvetica, Arial;
  font-weight: 300;
  color: #666666;
  overflow: hidden;
  margin-top: 340px;
}

.step {
  float: left;
  width: 260px;
}

.step .body {
  padding-top: 10px;
  line-height: 24px;
}

#one.step, #two.step {
  margin-right: 26px;
}


#logos {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

#logos fieldset {
  font-size: 1.8em;
  color: #8c8c8c;
  border-top: 1px solid #8c8c8c;
  margin-bottom: 10px;
  font-weight: 300;
  color: #666;
  font-family: "Helvetica Neue Light", Helvetica, Arial;
}

#logos fieldset .title {
  padding: 0 20px;
}

#posts {
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

#posts fieldset {
  font-size: 1.8em;
  color: #8c8c8c;
  border-top: 1px solid #8c8c8c;
  margin-bottom: 20px;
  font-weight: 300;
  color: #666;
  font-family: "Helvetica Neue Light", Helvetica, Arial;
}

#posts fieldset .title {
  padding: 0 20px;
}

#posts #grid {
  width: 90%;
  margin: 0px auto;
}

#posts #grid p {
  font-size: 1.2em;
  font-weight: 300;
  color: #666;
  margin: 100px auto 300px !important;
  font-family: "Helvetica Neue Light", Helvetica, Arial;
  line-height: 1.6em;
}

#posts #grid p a{
  color: #26b1da;
}

.post-small {
  float: left;
}

.post-small a {
  text-decoration: none;
}

.post-small a
.post-small a:hover,
.post-small a:visited,
.post-small a:link{
  color: #333;
}


.post-small .details {
  background-color: white;
  width: 240px;
  height: 360px;
  padding: 10px;
  margin: 8px;
  text-align: left;
  color: #333333;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px #8c8c8c;
  -moz-box-shadow: 0px 0px 6px #8c8c8c;
  box-shadow: 0px 0px 6px #8c8c8c;
}

.post-small .name {
  padding: 4px 0;
  height: 60px;
}

.post-small .dollars {
  color: #6cb340;
  font-size: 14px;
}

img.post-photo {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.post-small img.arrow-down {
  position: relative;
  top: -20px;
  left: -36px;
}

.post-small .metadata {
  text-align: left;
  padding: 10px 20px;
  font-size: 14px;
  color: #9a8c7e;
  font-weight: 300;
}

.post-small .stats, 
.post-small .location {
  position: relative;
  top: -17px;
  left: 3px;
}

.post-small img.icon {
  position: relative;
  top: 4px;
  margin-left: 4px;
}

.post-small img.user-photo {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  float: left;
}

#footer {
  text-align: center;
}


#footer .boxes {
  overflow: hidden;
}

#footer .box {
  float: left;
  text-align: center;
  width: 240px;
  margin: 30px 18px;
}

#footer .services {
  height: 74px;
}

#footer .services img {
  margin: 10px;
}

#footer h1 {
  color: #333333;
  font-size: 18px;
  margin-top: 15px;
}

#footer h2 {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  margin: 15px 0;
  text-align: center;
}

#footer ul {
  padding: 20px 0;
}

#footer ul li {
  display: inline;
}

#footer li {
  color: #333333;
  font-size: 14px;
}

#footer a {
  color: #333333;
  text-decoration: none;
}

#footer .download {
  overflow: hidden;
}

#footer .download .logo {
  float: left;
}

#footer .download .app-store-link {
  float: right;
}

#header-small {
  background-image: url("header-background.png");
  height: 132px;
  margin-bottom: 24px;
  width: 100%;
}

#header-small .logo-small {
  margin-top: 24px;
}



.app-store-link-small {
  float: right;
  margin-top: 28px;
}

.app-store-link-small .free-arrow-small {
  position: relative;
  top: -24px;
  left: -4px;
}

.app-store-link-small .free-small {
  position: relative;
  left: 24px;
}

#share {
  width: 123px;
  float: right;
}

#share a {
  text-decoration: none;
  display: block;
  width: 123px;
  height: 123px;
  margin-bottom: 8px;
}

#share a#facebook {
  background: url("facebook.png") no-repeat 0 0;
}

#share a:hover#facebook {
  background: url("facebook-hoverover.png") no-repeat 0 0;
}

#share a#twitter {
  background: url("twitter.png") no-repeat 0 0;
}

#share a:hover#twitter {
  background: url("twitter-hoverover.png") no-repeat 0 0;
}

#share a#pinterest {
  background: url("pinterest.png") no-repeat 0 0;
}

#share a:hover#pinterest {
  background: url("pinterest-hoverover.png") no-repeat 0 0;
}

#share a#email {
  background: url("email.png") no-repeat 0 0;
}

#share a:hover#email {
  background: url("email-hoverover.png") no-repeat 0 0;
}

#post {
  min-height: 900px;
}

#post #info {
  width: 140px;
}

#post img.user-photo {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#post #info a {
  text-decoration: none;
}

#post #info .when {
  font-size: 14px; 
  color: #666666;
  padding: 10px 0;
  line-height: 20px;
  overflow: hidden;
  font-family: "Helvetica Neue Light", Helvetica, Arial;
  font-weight: 300;
}

#post #info span {
  display: block;
}


#post #info .name {
  font-size: 22px;
  color: #333;
  margin: 4px 0;
  line-height: 22px;
  word-wrap: break-word;
}

#post #info .username {
  font-size: 18px;
  color: #333;
  margin: 2px 0;
}



#post #info .stat {
  padding-bottom: 10px;
  font-size: 14px;
  color: #666666;
  font-weight: 300;
}

#post #info .stat .num {
  font-size: 22px;
  font-weight: bold;
}

#user #info .location, 
#user #info .bio {
  font-weight: 300;
  color: #666666;
}

#slider {
  margin-left: 145px
}

#slider a {
  text-decoration: none;
}

#post .container {
  
}

#post #header {
  margin-top: 24px;
  background-image: url("/assets/title-bar.png");
  width: 553px;
  height: 52px;
}

#post #header .icon {
  float: left;
  position: relative;
  top: 17px;
  left: 17px;
}

#post #header h1 {
  float: left;
  text-shadow: #808080 1px 1px 1px;
  color: white;
  font-size: 22px;
  font-weight: normal;
  position: relative;
  top: 12px;
  left: 30px;
}

#post #header .stats {
  position: relative;
  top: 11px;
  float: right;
  color: #7d6f60;
  font-size: 16px;
  margin-right: 10px;
}

#post #header .stat {
  padding-right: 10px;
}

#post #header .stat .icon {
  float: none;
  top: 4px;
  left: 0;
}

#post #header .stat .icon.share {
  top: 6px;
}

#post #map, 
#post #events {
  position: relative;
  top: -2px;
  width: 550px;
  border-left: 1px solid #97897d;
  border-right: 1px solid #97897d;
  border-bottom: 1px solid #97897d;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.empty {
  padding: 20px;
}

p.empty-deals{
  padding-top: 100px;
  padding-bottom: 500px;
  text-align: center;
  
}

#post #map img, 
#post .event.last {
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#post #map {
  height: 300px;
}

#post #map img.mobile{
  display: none;
}


#post #events {
  margin-bottom: 90px;
}

#post .event {
  background-color: #f1edea;
  width: 530px;
  padding: 10px;
  border-top: 1px solid #f6f4f2;
  border-bottom: 1px solid #c9c3ba;
  overflow: hidden;
}

#post .event.last {
  border: none;
}

#post .event .user-photo {
  float: left;
  vertical-align: middle;
}

#post .event .body {
  float: left;
  margin: 10px 0px 0px 15px;
  width: 360px;
}

#post .event .icon {
  float: right;
  margin: 20px 20px 0 0;
}

#post .event .time {
 font-size: 14px; 
 color: gray;
 float: left;
}

.post .details {
  background-color: white;
  width: 504px;
  padding: 24px;
  text-align: left;
  color: #666;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px #8c8c8c;
  -moz-box-shadow: 0px 0px 6px #8c8c8c;
  box-shadow: 0px 0px 6px #8c8c8c;
}

.post {
  width:586px;
}

.post .details .name {
  font-size: 22px;
  margin-top: 20px;
  overflow: hidden;
}

.post-small .price,
.post .price {
  padding: 5px 8px 5px 15px;
  border: 2px solid #dedede;
  background-color: #ededed;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  float: left;  
  margin-top: 10px;  
}

.post-small .price .hole,
.post .price .hole{
  position: relative;
  float: left;  
  left: -6px;
  top: 6px;
  margin: 0;
  height: 5px;
  width: 5px;
  border: 2px solid #dedede;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.post-small .price,{
  padding: 5px 8px 5px 10px;
}

.post-small .price .hole{
  left: -5px;
  top: 5px;
}


.post .details .dollars-large {
  color: #6cb340;
  font-size: 18px;
}

#post #slider .venue {
  margin-top: -6px; 
  font-size:23px
}

#post #slider .address {
  margin-top: -6px;
  font-size: 17px;
}

@media screen and (max-device-width: 400px) and (orientation: portrait) {
  #post #slider .venue {
    font-size: 16px;
  }
  #post #slider .address {
    font-size: 13px;
  }
}

.post .metadata {
  margin-bottom: 20px;
  padding: 10px 24px;
  color: #7d6f60;
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
}

.post .metadata .location {
  float: left;
}

.post .metadata .location .icon {
  position: relative;
  top: 5px;
  left: -5px;
  
}

.post .metadata .stats {
  position: relative;
  top: 2px;
  float: right;
  margin-right:18px;
}

.post .metadata .stat {
  padding-right: 10px;
}

.post .metadata .stat .icon {
  position: relative;
  top: 2px;
}

.post .metadata .icon.time {
  top: 4px;
  left: 1px;
}

.sold {
 color: red;
 font-size: 16px; 
 margin-left: 10px;
 margin-bottom: 2px;
 position:relative;
 margin-top:5px;
}


#slider .arrow-left {
  float: left;
  position: relative;
  top: 55px;
  left: -12px;
}


#share {
  float: right;
}

#info {
  float: left;
}

#user #info {
  width: 240px;
}

#user #slider {
  margin-left: 280px; 
  min-height: 550px;
}

#user img.user-photo {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#user #info .name {
  padding-top: 10px;
  font-size: 22px; 
  color: #333;
}

#user #info .username {
  padding: 5px 0 10px;
  font-family: "Helvetica Neue Light", Helvetica, Arial;
  font-weight: 300;
}

#user #info .location {
  padding: 10px 0;
  font-size: 16px;
  color: #666666;
}

#user #info .stat {
  margin-top: 10px;
  width: 80px;
  float: left;
  font-weight: 300;
}

#user #info .num {
  font-size: 24px;
  font-weight: bold;
}

.page {
  font-family: "Helvetica Neue Light", Helvetica, Arial;
  font-weight: 300;
  color: #666666;
  margin-bottom: 40px;
  font-size: 16px;
  color: #666666;
}

.page h1 {
  font-size: 22px;
  margin-top: 14px;
}

.page h2 {
  font-size: 20px;
  margin-top: 8px;
}

.page li {
  list-style: none;
}

.page a {
  color: #666666;
  text-decoration: underline;
}

#about h1, #media h1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #ff7720;
}

#about h2, #media h2 {
  font-size: 20px;
  color: #868686;
  padding-bottom: 5px;
}

#about span {
  line-height: 18px;
  font-size: 16px;
  color: #868686;
}

#about #team h1 {
  color: #13c3ff;
}

#about ul.team {
  overflow: hidden;
}

#about ul.team li {
  float: left;
  width: 260px;
}

#about ul.team li.first {
  margin-right: 20px;
}

#about .deal {
  float: left;
  width: 85px;
  height: 85px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-top: 20px;
  margin-right: 10px;
  overflow: hidden;
  border: 1px solid #868686;
}

#about #team {
  margin-top: 30px;
}

#about .bio {
  min-height: 200px;
}

.bio {
  /*This wraps links*/
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
  
}

#about #faq h1 {
  color: #67d140;
}

#about #faq {
  margin-top: 40px;
}

#about #faq h2 {
  margin-top: 20px;
}


.page a{
  color: #13C3FF;
}

.clearfix {
  overflow: hidden;
}

.coupon {
  color: white;
  background-color: #75b749;
  border: 1px solid #659d40;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.25);
}

#post .coupon {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

#post .coupon .remaining {
  position: absolute;
  font-size: 15px;
  margin: 0 4px;
  height: 100px;
  width: 140px;
  text-align: center;
  border-right: 1px dashed #659d40;
}

#post .coupon .count {
  position: relative;
  top: 6px;
  font-size: 52px;
  font-weight: 500;
}

#post .coupon .center {
  width: 475px;
  margin-left: 150px;
  height: 100px;
  text-align: center;
}

#post .coupon .awesome {
  padding: 12px 6px 6px 6px;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 0px 1px 1px #659d40;
  filter: dropshadow(color=#659d40, offx=0, offy=1);
}

#post .coupon .name {
  padding: 6px;
}

#post .coupon .redeem {
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  width: 200px;
  height: 100px;
  border-left: 1px dashed #659d40;
}


#post a.get-coupon, 
#post .gone {
  display: inline-block;
  padding-top: 24px;
  width: 159px;
  height: 51px;
}

#post .coupon .gone {
  padding-top: 38px;
}

// coupon page
.coupon-container {
  width: 280px;
  margin: 0 auto 40px auto;
  text-align: center;
  padding-top: 60px;
}

.coupon-container .coupon {
  width: 100%;
  min-height: 140px;
  overflow: hidden;
  margin: 20px 0;
}
.centerText{
  text-align:center !important;
}

.coupon-container .coupon .gone{
  margin: 140px 70px 0;
  line-height: 1.3em;
}

.coupon-container .coupon .gone .sorry{
  margin: 10px 0;
}

.coupon-container p.directions{
  font-size: 14px;
  line-height: 1.3em;
  margin: 0 30px 30px;
}

.coupon-container p.directions em{
  font-weight: bold;
  font-style: normal;
}

.coupon-container p.directions a
.coupon-container p.directions a:hover,
.coupon-container p.directions a:visited,
.coupon-container p.directions a:link{
  color: #666;
}


.coupon .header,
.coupon .sorry {
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0px 1px 1px #659d40;
  filter: dropshadow(color=#659d40, offx=0, offy=1);
}

.coupon .header .inner {
  padding: 20px 40px;
}

.coupon .details .inner {
  padding: 30px;
  line-height: 1.5em;
}

.coupon .details {
  font-size: 18px;
  border-top: 1px dashed #659d40;
  border-bottom: 1px solid #659d40;
}

.coupon .map img {
  display: block;
}

/*NEW POST*/
/* Client-specific Styles */

#outlook a {
  padding: 0; }

/* Force Outlook to provide a "view in browser" button. */

body {
  width: 100% !important; }

.ReadMsgBody, .ExternalClass {
  width: 100%; }

/* Force Hotmail to display emails at full width */

body {
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0; }

/* Prevent Webkit platforms from changing default text sizes. */

/* Reset Styles */

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none; }

table td {
  border-collapse: collapse; }

#backgroundTable {
  height: 100% !important;
  margin: 0;
  padding: 0;
  background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/background.jpg"); }

/* Template Styles */

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COMMON PAGE ELEMENTS /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Page
* @section background color
* @tip Set the background color for your email. You may want to choose one that matches your company's branding.
* @theme page
*/

body, #backgroundTable {
  /*@editable*/
  background-color: #FAFAFA;
  background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/background.jpg"); }

/**
* @tab Page
* @section email border
* @tip Set the border for your email.
*/

#templateContainer {
  /*@editable*/
  border: 1px solid #DDDDDD; }

/**
* @tab Page
* @section heading 1
* @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
* @style heading 1
*/

h1, .h1 {
  /*@editable*/
  color: #202020;
  display: block;
  /*@editable*/
  font-family: Arial;
  /*@editable*/
  font-size: 34px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/
  text-align: left; }

/**
* @tab Page
* @section heading 2
* @tip Set the styling for all second-level headings in your emails.
* @style heading 2
*/

h2, .h2 {
  /*@editable*/
  color: #202020;
  display: block;
  /*@editable*/
  font-family: Arial;
  /*@editable*/
  font-size: 30px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/
  text-align: left; }

/**
* @tab Page
* @section heading 3
* @tip Set the styling for all third-level headings in your emails.
* @style heading 3
*/

h3, .h3 {
  /*@editable*/
  color: #202020;
  display: block;
  /*@editable*/
  font-family: Arial;
  /*@editable*/
  font-size: 26px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/
  text-align: left; }

/**
* @tab Page
* @section heading 4
* @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
* @style heading 4
*/

h4, .h4 {
  /*@editable*/
  color: #202020;
  display: block;
  /*@editable*/
  font-family: Arial;
  /*@editable*/
  font-size: 22px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/
  text-align: left; }

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: PREHEADER /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Header
* @section preheader style
* @tip Set the background color for your email's preheader area.
* @theme page
*/

#templatePreheader {
  /*@editable background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/topbar-background.png");
  background-repeat: repeat-x;
  */
  width: 600px;
  height: 151px;
  margin: 0;
  td {
    margin: 0;
    padding: 0; } }

/**
* @tab Header
* @section preheader text
* @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
*/

.preheaderContent {
  div {
    &#logo {
      /*@editable*/
      color: #505050;
      /*@editable*/
      font-family: Arial;
      /*@editable*/
      font-size: 10px;
      /*@editable*/
      line-height: 100%;
      /*@editable*/
      text-align: left;
      margin-left: 60px;
      diplay: block;
      width: 143px;
      height: 141px;
      background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/logo-background.gif");
      -webkit-box-shadow: 0px 0px 2px 2px #e0dfdd;
      box-shadow: 0px 0px 2px 2px #e0dfdd; }
    a {
      &:link, &:visited, .yshortcuts {
        /*@editable*/
        color: #336699;
        /*@editable*/
        font-weight: normal;
        /*@editable*/
        text-decoration: underline; } } }
  #info {
    margin-left: 20px;
    margin-top: 25px;
    .seller {
      color: #808080;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 1px; }
    .name {
      font-size: 18px;
      color: #a4a4a4;
      font-family: Arial, Helvetica, sans-serif; } }
  #purchase {
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 7px;
    a.buynow {
      display: block;
      width: 157px;
      height: 40px;
      float: left; }
    .price {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 36px;
      color: #44423f;
      font-weight: bold;
      padding-left: 10px; } } }

/**
* @tab Header
* @section preheader link
* @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
*/

/**
Seller styles in the preheaderContent
**/

/**
*
* Purchase Button
*
**/

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: HEADER /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Header
* @section header style
* @tip Set the background color and border for your email's header area.
* @theme header
*/

#templateHeader {
  /*@editable*/
  background-color: #FFFFFF;
  /*@editable*/
  border-bottom: 0; }

/**
* @tab Header
* @section header text
* @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
*/

.headerContent {
  /*@editable*/
  color: #202020;
  /*@editable*/
  font-family: Arial;
  /*@editable*/
  font-size: 34px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  /*@editable*/
  padding: 0;
  /*@editable*/
  text-align: center;
  /*@editable*/
  vertical-align: middle;
  a {
    &:link, &:visited, .yshortcuts {
      /*@editable*/
      color: #336699;
      /*@editable*/
      font-weight: normal;
      /*@editable*/
      text-decoration: underline; } } }

/**
* @tab Header
* @section header link
* @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
*/

#headerImage {
  height: auto;
  max-width: 600px; }

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: MAIN BODY /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Body
* @section body style
* @tip Set the background color for your email's body area.
*/

table#templateContainer {
  /*@editable*/
  background-color: white;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin-top: 1px;
  text-shadow: 2px 2px 1px #c0beb8;
  filter: dropshadow(color = #c0beb8, offx = 2, offy = 2); }

#templateContainer table#templateBody tr {
  text-shadow: none; }

.bodyContent {
  div {
    /*@editable*/
    color: #505050;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
    a {
      &:link, &:visited, .yshortcuts {
        /*@editable*/
        color: #336699;
        /*@editable*/
        font-weight: normal;
        /*@editable*/
        text-decoration: underline; } } }
  img {
    display: inline;
    height: auto; } }

/**
* @tab Body
* @section body text
* @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
* @theme main
*/

/**
* @tab Body
* @section body link
* @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
*/

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COLUMNS; LEFT, RIGHT /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Columns
* @section left column text
* @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
*/

.leftColumnContent {
  /*@editable*/
  background-color: #FFFFFF;
  div {
    /*@editable*/
    color: #505050;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
    a {
      &:link, &:visited, .yshortcuts {
        /*@editable*/
        color: #336699;
        /*@editable*/
        font-weight: normal;
        /*@editable*/
        text-decoration: underline; } } }
  img {
    display: inline;
    height: auto; } }

/**
* @tab Columns
* @section left column text
* @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
*/

/**
* @tab Columns
* @section left column link
* @tip Set the styling for your email's left column links. Choose a color that helps them stand out from your text.
*/

/**
* @tab Columns
* @section right column text
* @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
*/

.rightColumnContent {
  /*@editable*/
  background-color: #FFFFFF;
  div {
    /*@editable*/
    color: #505050;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
    a {
      &:link, &:visited, .yshortcuts {
        /*@editable*/
        color: #336699;
        /*@editable*/
        font-weight: normal;
        /*@editable*/
        text-decoration: underline; } } }
  img {
    display: inline;
    height: auto; } }

/**
* @tab Columns
* @section right column text
* @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
*/

/**
* @tab Columns
* @section right column link
* @tip Set the styling for your email's right column links. Choose a color that helps them stand out from your text.
*/

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: FOOTER /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Footer
* @section footer style
* @tip Set the background color and top border for your email's footer area.
* @theme footer
*/

#templateFooter {
  /*@editable*/
  background-color: none;
  /*@editable*/
  border-top: 0;
  margin-top: 0; 
}

/**
* @tab Footer
* @section footer text
* @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
* @theme footer
*/

table#templateFooter {
  /*@editable*/
  color: #707070;
  /*@editable*/
  font-family: Arial;
  /*@editable*/
  font-size: 12px;
  /*@editable*/
  line-height: 125%;
  /*@editable*/
  text-align: left;
  margin-top: 15px; }

/**
* @tab Footer
* @section footer link
* @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
*/

.footerContent {
  div a {
    &:link, &:visited, .yshortcuts {
      /*@editable*/
      color: #336699;
      /*@editable*/
      font-weight: normal;
      /*@editable*/
      text-decoration: underline; } }
  img {
    display: inline; }
  & #social {
    /*@editable*/
    /*@editable*/
    border: 0; } }

/**
* @tab Footer
* @section social bar style
* @tip Set the background color and border for your email's footer social bar.
*/

#social div {
  /*@editable*/
  text-align: center; }

/**
* @tab Footer
* @section utility bar style
* @tip Set the background color and border for your email's footer utility bar.
* @theme footer
*/

#utility {
  /*@editable*/
  /*@editable*/
  border: 0;
  div {
    /*@editable*/
    text-align: center; } }

/**
* @tab Footer
* @section utility bar style
* @tip Set the background color and border for your email's footer utility bar.
*/

#monkeyRewards img {
  max-width: 190px; }

/**
*
* Inside Coupon
*
**/

#insideCoupon {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #f1eee9;
  #dashedlines {
    border: 3px dashed white;
    margin: 8px 12px;
    padding: 12px 16px;
    min-height: 144px;
    overflow: auto; } }

#contentleft {
  width: 144px;
  float: left; }

#contentright {
  float: left;
  margin-left: 16px;
  width: 246px;
  margin-top: 5px;
  #title {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c4c0bb; }
  #text {
    font-size: 16px;
    font-weight: normal;
    color: #808080;
    display: block;
    padding-top: 3px; }
  #voucherid {
    font-size: 14px;
    font-style: italic;
    color: #808080; } }

/*
 * Header and Footer wrapper
 *
 */

#headerfooterWrapper {
  border-top: 1px solid #ccc9c3;
  background-image: url("http://www.kylecopley.com/novationmobile/qwiqq/topbar-background.png");
  background-repeat: repeat-x; }
  
#quotes{
  text-align:left;
}

#quotes #benefits li,#quotes #quotes li{
  list-style-position:inside;
  color:#ff7720;
}

#quotes #benefits li p,#quotes #quotes li p{
  color:#666666;
}



#quotes ul, #quotes li{
  padding:0px 0px 0px 10px;
}


