/* QWIQQ */

@import "frameless";

body {
  background-image: url("background-pattern.png");
  font-family: "Helvetica Neue", Helvetica, Arial;
  color: #666666;
}

body.deals.show, body.users.show {
  background-attachment: fixed;
}

html, body {
  height: 100%
}

#header {
  background-image: url("home-top-background.png");
  z-index: -10;
  height: 290px;
}

#content {
  min-height: 100%;
}

#footer {
  background-image: url("footer-background.png");
  height: 385px;
}

.container {
  width: $cols12;
  margin: 0 auto;
}

.container-narrow {
  width: $cols8;
  margin: 0 auto;
}

img.logo {
  padding-top: 40px;
  float: left;
}

img.bubbles {
  position: relative;
  float: right;
  top: 44px;
  left: 10px;
}

.app-store-link {
  position: relative;
  top: -220px;
}

.app-store-link a {
  text-decoration: none;
}

.app-store-link img.free-arrow {
  position: relative;
  top: 40px;
  left: -150px;
}

.app-store-link img.free {
  position: relative;
  top: 50px;
  left: -150px;
}

#phone {
  position: relative;
  width: 252px;
  margin: 0 auto;
  top: 40px;
}

#screenshots {
  position: absolute;
  top: 87px;
  left: 21px;
}

#steps {
  font-family: "Helvetica Neue Light", Helvetica, Arial;
  font-weight: 300;
  color: #666666;
  overflow: hidden;
  margin-top: 340px;
}

.step {
  float: left;
  width: 260px;
}

.step .body {
  padding-top: 10px;
  line-height: 24px;
}

#one.step, #two.step {
  margin-right: 26px;
}

#posts {
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

#posts fieldset {
  font-size: 28px;
  color: #8c8c8c;
  border-top: 1px solid #8c8c8c;
  margin-bottom: 20px;
}

#posts fieldset .title {
  padding: 0 20px;
}

.post-small {
  float: left;
}

.post-small a {
  text-decoration: none;
}

.post-small .details {
  background-color: white;
  width: 240px;
  height: 360px;
  padding: 10px;
  margin: 8px;
  text-align: left;
  color: #333333;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px #8c8c8c;
  -moz-box-shadow: 0px 0px 6px #8c8c8c;
  box-shadow: 0px 0px 6px #8c8c8c;
}

.post-small .name {
  padding: 4px 0;
  height: 75px;
}

.post-small .price {
  background-image: url("tag.png");
  width: 67px;
  height: 32px;
}

.post-small .dollars {
  position: relative;
  top: 5px;
  left: 15px;
  color: #6cb340;
  font-size: 14px;
}

img.post-photo {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.post-small img.arrow-down {
  position: relative;
  top: -20px;
  left: -36px;
}

.post-small .metadata {
  text-align: left;
  padding: 10px 20px;
  font-size: 14px;
  color: #9a8c7e;
  font-weight: 300;
}

.post-small .stats, 
.post-small .location {
  position: relative;
  top: -17px;
  left: 3px;
}

.post-small img.icon {
  position: relative;
  top: 4px;
  margin-left: 4px;
}

.post-small img.user-photo {
  border: 1px solid #8c8c8c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  float: left;
}

#footer {
  text-align: center;
}

#footer .boxes {
  overflow: hidden;
}

#footer .box {
  float: left;
  text-align: center;
  width: 240px;
  margin: 60px 18px;
}

#footer .services {
  height: 74px;
}

#footer .services img {
  margin: 10px;
}

#footer h1 {
  color: #333333;
  font-size: 18px;
}

#footer h2 {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  margin: 15px 0;
}

#footer ul {
  padding: 40px 0;
}

#footer ul li {
  display: inline;
}

#footer li {
  color: #333333;
  font-size: 14px;
}

#footer a {
  color: #333333;
  text-decoration: none;
}

#footer .download {
  overflow: hidden;
}

#footer .download .logo {
  float: left;
}

#footer .download .app-store-link {
  float: right;
}

#header-small {
  background-image: url("header-background.png");
  height: 132px;
  width: 100%;
}

#header-small .logo-small {
  margin-top: 24px;
}

#fixed-header-small {
  background-image: url("header-background.png");
  position: fixed;
  height: 132px;
  width: 100%;
  z-index: 1;
}

#fixed-header-small .logo-small {
  margin-top: 24px;
}

.app-store-link-small {
  float: right;
  margin-top: 28px;
}

.app-store-link-small .free-arrow-small {
  position: relative;
  top: -24px;
  left: -4px;
}

.app-store-link-small .free-small {
  position: relative;
  left: 24px;
}

#share {
  width: 123px;
  float: right;
}

#share a {
  text-decoration: none;
  display: block;
  width: 123px;
  height: 123px;
  margin-bottom: 8px;
}

#share a#facebook {
  background: url("facebook.png") no-repeat 0 0;
}

#share a#twitter {
  background: url("twitter.png") no-repeat 0 0;;
}

#share a:hover#twitter {
  background: url("twitter-hoverover.png") no-repeat 0 0;;
}

#share a:hover#facebook {
  background: url("facebook-hoverover.png") no-repeat 0 0;;
}

#post {
  min-height: 900px;
}

#post #info {
  width: 140px;
}

#post img.user-photo {
  border: 1px solid #8c8c8c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#post #info a {
  text-decoration: none;
}

#post #info .when {
  font-size: 14px; 
  color: #666666;
  padding: 10px 0;
  line-height: 20px;
}

#post #info .username {
  font-size: 18px;
}

#post #info .stat {
  padding-bottom: 10px;
  font-size: 14px;
  color: #666666;
  font-weight: 300;
}

#post #info .stat .num {
  font-size: 22px;
  font-weight: bold;
}

#user #info .location, 
#user #info .bio {
  font-weight: 300;
  color: #666666;
}

#slider {
  padding-top: 160px;
  padding-left: 145px;
}

#slider a {
  text-decoration: none;
}

#post #header {
  margin-top: 24px;
  background-image: url("/assets/title-bar.png");
  width: 553px;
  height: 52px;
}

#post #header .icon {
  float: left;
  position: relative;
  top: 17px;
  left: 17px;
}

#post #header h1 {
  float: left;
  text-shadow: #808080 1px 1px 1px;
  color: white;
  font-size: 22px;
  font-weight: normal;
  position: relative;
  top: 12px;
  left: 30px;
}

#post #map, 
#post #events {
  position: relative;
  top: -2px;
  width: 550px;
  border-left: 1px solid #97897d;
  border-right: 1px solid #97897d;
  border-bottom: 1px solid #97897d;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.empty {
  padding: 20px;
}

#post #map img, 
#post .event.last {
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#post #map {
  height: 220px;
}

#post #events {
  margin-bottom: 90px;
}

#post .event {
  background-color: #f1edea;
  width: 530px;
  padding: 10px;
  border-top: 1px solid #f6f4f2;
  border-bottom: 1px solid #c9c3ba;
  overflow: hidden;
}

#post .event.last {
  border: none;
}

#post .event .user-photo {
  float: left;
}

#post .event .body {
  float: left;
  margin: 10px 20px;
  max-width: 400px;
}

.post .details {
  background-color: white;
  width: 504px;
  padding: 24px;
  text-align: left;
  color: #333333;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px #8c8c8c;
  -moz-box-shadow: 0px 0px 6px #8c8c8c;
  box-shadow: 0px 0px 6px #8c8c8c;
}

.post .details .name {
  float: left;
  font-size: 22px;
  margin-top: 20px;
  max-width: 350px;
  overflow: hidden;
}

.post .details .price {
  width: 94px;
  height: 45px;
  margin-top: 20px;
  float: right;
  background-image: url("tag-large.png");
}

.post .details .dollars-large {
  position: relative;
  top: 11px;
  left: 20px;
  color: #6cb340;
  font-size: 18px;
}

.post .metadata {
  margin-bottom: 20px;
  padding: 10px 24px;
  color: #7d6f60;
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
}

.post .metadata .location {
  float: left;
}

.post .metadata .location .icon {
  position: relative;
  top: 5px;
  left: -5px;
}

.post .metadata .stats {
  position: relative;
  top: 2px;
  float: right;
}

.post .metadata .stat {
  padding-right: 10px;
}

.post .metadata .stat .icon {
  position: relative;
  top: 2px;
}

.post .metadata .icon.time {
  top: 4px;
  left: 1px;
}

#slider .arrow-left {
  float: left;
  position: relative;
  top: 55px;
  left: -12px;
}

#fixed-container {
  position: fixed;
  top: 160px;
}

#post #fixed-container {
  width: $cols12;
}

#share {
  float: right;
}

#info {
  float: left;
}

#user #info {
  width: 240px;
}

#user #slider {
  padding-top: 160px;
  padding-left: 280px; 
}

#user img.user-photo {
  border: 1px solid #8c8c8c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#user #info .name {
  padding-top: 10px;
  font-size: 22px; 
  color: #333333;
}

#user #info .location {
  padding-bottom: 10px;
  font-size: 16px;
  color: #666666;
}

#user #info .stat {
  margin-top: 10px;
  width: 80px;
  float: left;
  font-weight: 300;
}

#user #info .num {
  font-size: 24px;
  font-weight: bold;
}

.page {
  font-family: "Helvetica Neue Light", Helvetica, Arial;
  font-weight: 300;
  color: #666666;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 16px;
  color: #666666;
}

.page h1 {
  font-size: 22px;
  margin-top: 14px;
}

.page h2 {
  font-size: 20px;
  margin-top: 8px;
}

.page li {
  list-style: none;
}

.page a {
  color: #666666;
  text-decoration: underline;
}

#about h1, #media h1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #ff7720;
}

#about h2, #media h2 {
  font-size: 20px;
  color: #868686;
  padding-bottom: 5px;
}

#about span {
  line-height: 18px;
  font-size: 16px;
  color: #868686;
}

#about #team h1 {
  color: #13c3ff;
}

#about ul.team {
  overflow: hidden;
}

#about ul.team li {
  float: left;
  width: 260px;
}

#about ul.team li.first {
  margin-right: 20px;
}

#about .deal {
  float: left;
  width: 85px;
  height: 85px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-top: 20px;
  margin-right: 10px;
  overflow: hidden;
  border: 1px solid #868686;
}

#about #team {
  margin-top: 30px;
}

#about .bio {
  min-height: 200px;
}

#about #faq h1 {
  color: #67d140;
}

#about #faq {
  margin-top: 40px;
}

#about #faq h2 {
  margin-top: 20px;
}

#about #faq a {
  color: #868686;
}

#about #faq span a{
  color: #13C3FF;
}

.clearfix {
  overflow: hidden;
}
