%h1= @title

- unless @users.blank?
  %table#deals
    %tr
      %th
      %th.name Name
      %th Deals
      %th Comments      
      %th Email
      %th City
      %th Country
      %th.date Created
      %th.date Updated
    =render @users