%ul.nav
  %li= link_to_unless_current 'Users', admin_users_url
  %li= link_to_unless_current 'Deals', admin_deals_url
  %li= link_to_unless_current 'Locations', admin_locations_url
  %li= link_to_unless_current 'Comments', admin_comments_url