- content_for :title do 
  Qwiqq | Reports
 
#about.page
  .container-narrow
    %div{:style => padding-bottom: 100"}
      %h1 The average number of shares per post!
      %span
      = @average_shares_per_post
      %br

    