- content_for :title do 
  Qwiqq | About
 
#about.page
  .container-narrow
    %h1 What the heck is Qwiqq?
    %span
      A small group of folks who believes a social platform can sell stuff too!

    