- content_for :title do 
  Qwiqq | Reports
 
#about.page
  .container-narrow
    %h1 Shares per post!
    %span
    %p= @average_shares_per_post
    %br
    %h1 People sharing per post!
    %span
    %p= @average_people_share_per_post
    %br


    