- content_for :title do 
  Qwiqq | Reports
 
#about.page
  .container-narrow
    %h1 The average number of shares per post!
    %span
      We're still working on it...
    %br
    %br
    %br
    %br
    